@using WebMatrix.Data;
@{



    var uUname = "";
    var uEmail = "";
    var uPassword = "";

    if(IsPost)
    {
        uUname = Request.Form["uUname"];
        uEmail = Request.Form["uEmail"];
        uPassword = Request.Form["uPassword"];

        try
        {
            Database db = Database.Open("Database");
            var insertCommand = "INSERT INTO users (uUname, Uemail, uPassword) VALUES (@0, @1, @2)";
            db.Execute(insertCommand, uUname, uEmail, uPassword);
        }
        catch (Exception e)
        {
            Response.Write($"You fucked up! {Environment.NewLine} Error: {e.Message}");
        }
    }
}

<!doctype Html>
<html>
<head>
    <title>Log In System</title>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css" />
</head>
<body>
    <div class="header">
        <h1>Register</h1>
    </div>
    <form method="post">
        <fieldset>
            <div class="input-group">
                <label>Username:</label>
                <input type="text" name="uUname" value="@Request.Form["userName"]"/> 
            </div>
            <div class="input-group">
                <label>Email:</label>
                <input type="text" name="uEmail" value="@Request.Form["email"]" />
            </div>
            <div class="input-group">
                <label>Password:</label>
                <input type="password" name="uPassword" value="@Request.Form["password_1"]" />
            </div>
            <div class="input-group">
                <label>Confirm Password:</label>
                <input type="password" name="uPassword_1" />
            </div>
            <div class="input-group">
                <button type="submit" name="register">Register</button>
            </div>
        <p>Already a member?<a href="~/Login.cshtml">Log In</a></p>
        </fieldset>
    </form>
</body>


</html>

