<footer class="page-footer footer-position footer-color font-small">

	<div class="container-fluid text-center text-md-left">

		<div class="row">

			<div class="col-md-6">
				<h3> Footer text</h3>
				<p> this is some footer text, amazing isn't it? this is some footer text, amazing isn't it?this is some footer text, amazing isn't it?</p>
			</div>

			<div class="col-md-6 hidden-sm hidden-xs">
				<h3> Links </h3>
				<ul class="list-unstyled">
					<li> <a href="#home"> Home</a></li>
					<li> <a href="#home"> Login</a></li>
					<li> <a href="#home"> Enroll</a></li>
					<li> <a href="#home"> About us</a></li>
					<li> <a href="#home"> Contact</a></li>
				</ul>

			</div>

		</div>

	</div>

    <div class="footer-copyright footer-copyright-color py-3 text-center">
        © 2018 Copyright:
        <a href="#"> HogwartSim</a>
    </div>

</footer>