@{

	List<Tuple<string, string, string>> navigationLinks = new List<Tuple<string, string, string>>
	{
		new Tuple<string, string, string>("Home", "#home", "fa-home"),
		new Tuple<string, string, string>("About us", "#aboutus", "fa-info"),
		new Tuple<string, string, string>("Contact", "#contact", "fa-phone"),
	};

	//TODO: Some code to check if the user is logged in
	//		If so, fetch the user data.
	bool isLoggedIn = true;
	string username = "Harry";
}


<nav class="navbar navbar-colors">
	<div class="container-fluid">

		<!-- The collasped menu button.-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-bar">
				<i class="fas fa-bars"></i>
			</button>
		</div>

		<!-- The menu itself.-->
		<div class="collapse navbar-collapse" id="navigation-bar">
			<ul class="nav navbar-nav">

			@foreach (var item in navigationLinks)
			{
				string classes = item.Item1.Equals(Page.Title) ? "active" : "";

				<li class=@classes>
					<a href="@item.Item2"><i class="fas @item.Item3"></i> @item.Item1</a>
				</li>
			}
			</ul>


			<ul class="nav navbar-nav navbar-right">

				@if (isLoggedIn)
				{
					<li>
						<a href="#account"><i class="fas fa-user"></i> @username</a>
					</li>
				}
				else
				{
					<li>
						<a href="#enroll"><i class="fas fa-plus"></i> Enroll</a>
					</li>

					<li>
						<a href="#login"><i class="fas fa-sign-in-alt"></i> Login</a>
					</li>
				}
			</ul>
		</div>

	</div>
</nav>