@helper GetFormFieldError(string name, bool isValid, bool show = false)
{
    if (!isValid && show)
    {
        <span class="form-error">
            - @Html.ValidationMessage(name)
        </span>
    }
}