@{
	Page.Title = "About us";
	Layout = "~/Shared/_DefaultPage.cshtml";
}


<div class="col-md-12" align="center">
	<div class="row">
		<h1 class="harry-font"> About us </h1>
	</div>

	<div class="row vm-1">
		<p>
            something something <br />
		</p>
	</div>
</div>

