@{
	Page.Title = "About us";
	Layout = "~/Shared/_DefaultPage.cshtml";
}


<div class="col-md-12" align="center">
	<div class="row">
		<h1 class="harry-font"> About us </h1>
	</div>

	<div class="row vm-1">
		<p>
            We are 4 awesome developers, period! </br> 
            Want to know more? Visit the <a class="inline-link" href="~/Contact.cshtml"> contact page</a> to get in touch.
		</p>
	</div>
</div>

