@{
	Page.Title = "Contact";
	Layout = "~/Shared/_DefaultPage.cshtml";
}

<div class="col-md-12" align="center">
	<div class="row vm-1">
		<h1> Contact </h1>
	</div>

	<div class="row vm-1">
		<p>
			Sooo you muggle, you wanted to get in touch with us...&nbsp; Please fill out this form and we will take a look at it!
		</p>
	</div>

	<div class="row vm-2">
		<div class="contact-form col-md-offset-3 col-md-6" align="left">
			<form method="post" action="">
				<div class="form-group">
					<label class="contact-label-color" for="email-address">E-mail Address</label>
					<input name="email-address" class="form-control">
				</div>

				<div class="form-group">
					<label class="contact-label-color" for="name">Name</label>
					<input name="name" class="form-control">
				</div>

				<div class="form-grou vm-1">
					<label class="contact-label-color" for="message">Message</label>
					<textarea class="form-control" name="message" rows="3"></textarea>
				</div>

				<button type="submit" class="btn btn-secondary vm-2">Submit</button>
			</form>
		</div>
	</div>
</div>

