@{
	Page.Title = "Hogsmead";
	Layout = "~/Shared/_DefaultPage.cshtml";
}


<div class="col-md-12" align="center">
	<div class="row">
		<img src="@Href("~/Content/Images/logo.png")" width="480" height="328" />
		<h1 class="harry-font"> HogwartSim </h1>
	</div>

	<div class="row vm-1">
        <p>
            Have you always wanted to become a wizard? Enroll now! Become a student and follow virtual lessons on Hogwartsim, an online simulation based on the famous Hogwarts school of witchcraft and wizardry.<br />
            Compete against other wizards, become a part of a house, earn and spend smekkies in Hogsmead, and more!<br /><br />
            Click the enroll button to start enrolling into Hogwarts!
        </p>
	</div>

	<div class="row vm-2">

		<button type="button" class="btn btn-secondary">Enroll now!</button>
	</div>
</div>

