@{
	Page.Title = "Home";
	Layout = "~/Shared/_DefaultPage.cshtml";
}


<div class="col-md-12" align="center">
	<div class="row">
		<img src="@Href("~/Content/Images/logo.png")" width="480" height="328" />
		<h1> HogwartSim </h1>
	</div>

	<div class="row vm-1">
		<p>
			Are you always wanted to become a wizard? Enroll now! Follow virtual lessons on the HogwartSim we website<br />
			Compete against other wizards, become a part of an house, earn and spend smekkies in Hogsmead!<br /><br />
			Click the enroll button to start enrolling into Hogwarts!
		</p>
	</div>

	<div class="row vm-2">

		<a href="~/Enroll.cshtml"><button type="button" class="btn btn-secondary">Enroll now!</button></a>
	</div>
</div>

