@{ 
	Page.Title = "Home";
}

<html>
	<head>
		@RenderPage("~/Shared/Common/_DefaultHead.cshtml")
	</head>

	<body>
		@RenderPage("~/Shared/Common/_NavigationBar.cshtml")

		<h1> Welkom!</h1>
	</body>

	@RenderPage("~/Shared/Common/_DefaultScripts.cshtml")

</html>