@{ 
	Page.Title = "Home";
}

<html>
	<head>
		@RenderPage("~/Shared/_DefaultHead.cshtml")
	</head>

	<body>

		@RenderPage("~/Shared/_NavigationBar.cshtml")

		<h1> Welkom!</h1>
	</body>

	@RenderPage("~/Shared/_DefaultScripts.cshtml")

</html>