@{
    Page.Title = "LessonOverview";
    Layout = "~/Shared/_DefaultPage.cshtml";
}
<!DOCTYPE html>
<html>
  <head>
      
  </head>
  <body>
      <br /> <br />  <br />   <h1>Lessons Overview</h1>
      <br />
      <br />
      <a href="~/LesAstronomy.cshtml"> <h3>Astronomy</h3></a> <br />
      <a href="~/LesCharms.cshtml"> <h3>Charms</h3></a> <br />
      <a href="~/LesDADA.cshtml"> <h3>Defence Against the Dark Arts</h3></a> <br />
      <a href="~/LesHerbology.cshtml"> <h3>Herbology</h3></a> <br />
      <a href="~/LesHistoryofmagic.cshtml"> <h3>History of Magic</h3></a> <br />
      <a href="~/LesPotions.cshtml"> <h3>Potions</h3></a> <br />
      <a href="~/LesTransfiguration.cshtml"> <h3>Transfiguration</h3></a> <br />

  </body>
</html>