@using System.Configuration;
@using System.Data;
@using System.Data.SqlClient;
@{
    Page.Title = "Portal";
    Layout = "~/Shared/_DefaultPage.cshtml";

    //int house = 0;
    string username = "";
    string name = "";
    string Points = "";
    string House = "4";
    string id = "";
    if (Request.Cookies["Login"] != null)
    {
        username = Request.Cookies["Login"]["uUname"];
    }

    else
    {
        Response.Redirect("~/Login.cshtml");
    }
    PortalController controller = new PortalController();

    // Connectie met de database wordt hier gemaakt.

    SqlConnection con = new SqlConnection(ConfigurationManager.ConnectionStrings["Database"].ConnectionString);
    con.Open();

    // Hier word de table geselecteerd, en gecheckt waar de gegevens weg worden gehaald. 

    SqlCommand cmd = new SqlCommand("select * from users where uUname ='" + @username + "'", con);
    SqlDataReader dr = cmd.ExecuteReader();

    // Hier word de database gelezen en op benamingen gezet.

    if (dr.Read())
    {
        id = dr[0].ToString();
        name = dr[3].ToString();
        House = dr[4].ToString();
        Points = dr[5].ToString();

    }
    SqlDataAdapter da = new SqlDataAdapter(cmd);
    DataTable dt = new DataTable();

    HttpCookie onzekoekjes = new HttpCookie("Login");
    onzekoekjes["uUname"] = dt.Rows[0]["uUname"].ToString();
    onzekoekjes["uUhouse"] = dt.Rows[0]["uHouse"].ToString();
    onzekoekjes["uId"] = dt.Rows[0]["uId"].ToString();

    onzekoekjes.Expires = DateTime.Now.AddDays(1d);
    Response.Cookies.Add(onzekoekjes);

    // Hier word de connection gestopt met de database.

    con.Close();

    // Hier wordt na gekeken of de gebruiker al een house heeft. 
    // Zo niet word de gebruiker redirect naar de Sorteerhoed.

    if (House == "0")
    {
        Response.Redirect("~/Sorteerhoed.cshtml");
    }

    IDictionary<string, string> houseImages = new Dictionary<string, string>
    {
        { "0", "nope.png"},
        { "1", "gryffindor.png" },
        { "2", "hufflepuff.png" },
        { "3", "ravenclaw.png"},
        { "4", "slytherin.png"}
    };




    houseImages.TryGetValue(House, out string image);
    string houseImagePath = ImageHelper.PathToImageInContent(image);
    string avatarImagePath = ImageHelper.PathToImageInContent("avatar.png");

    DateTime startTime = DateTime.ParseExact("08:00", "HH:mm", System.Globalization.CultureInfo.InvariantCulture);
    DateTime endTime = DateTime.ParseExact("17:00", "HH:mm", System.Globalization.CultureInfo.InvariantCulture);
    TimeSpan increments = new TimeSpan(0, 45, 0);

}

<div class="col-md-12">
    <div class="row col-md-offset-1">
        <div class="col-md-2">

            <div class="row info-panel vm-1">
                <div align="center">
                    <h4 class="harry-font"> House information </h4>
                    <img src=@houseImagePath width="200px">
                </div>

                <ul class="stats-list" align="left">
                    <li>Total members: @controller.GetHouseMemberCount(House) members</li>
                    <li>Total points: @controller.GetHousePoints(house) points</li>
                    <li>House rank: #@controller.GetHouseRank(house)</li>
                </ul>
            </div>

            <div class="row info-panel vm-1">
                <div align="center">
                    <h4 class="harry-font"> Wizard information </h4>
                    <img src=@avatarImagePath width="200px">
                </div>

                <ul class="stats-list" align="left">
                    <li>Wizard name: @name</li>
                    <li>Total points: @Points points</li>
                    <li>Wizard rank: #@controller.GetUserRank(username)</li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 info-panel vm-1 hm-1">
            @TimeTableHelper.GenerateTimeTable(startTime, endTime, increments);
        </div>
    </div>
</div>
