@using System.Globalization;
@{
    Page.Title = "Portal";
    Layout = "~/Shared/_DefaultPage.cshtml";

    PortalController controller = new PortalController();
    User user = AuthController.AuthedUserData;

    IDictionary<int, string> houseImages = new Dictionary<int, string>
    {
        { 0, "nope.png"},
        { 1, "gryffindor.png" },
        { 2, "hufflepuff.jpg" },
        { 3, "ravenclaw.png"},
        { 4, "slytherin.jpg"}
    };

    houseImages.TryGetValue(user.House, out string image);
    string houseImagePath = ImageHelper.PathToImageInContent(image);
    string avatarImagePath = ImageHelper.PathToImageInContent("avatar.png");

    DateTime startTime = DateTime.ParseExact("08:00", "HH:mm", CultureInfo.InvariantCulture);
    DateTime endTime = DateTime.ParseExact("17:00", "HH:mm", CultureInfo.InvariantCulture);
    TimeSpan increments = new TimeSpan(1, 0, 0);

}

<div class="col-md-12">
    <div class="row col-md-offset-1">
        <div class="col-md-2">

            <div class="row info-panel vm-1">
                <div align="center">
                    <h4 class="harry-font"> House information </h4>
                    <img src=@houseImagePath width="200px">
                </div>

                <ul class="stats-list" align="left">
                    @*<li>Total members: @House members</li>
                    <li>Total points: @House points</li>
                    <li>House rank: @House  </li>*@
                </ul>
            </div>

            <div class="row info-panel vm-1">
                <div align="center">
                    <h4 class="harry-font"> Wizard information </h4>
                    <img src=@avatarImagePath width="200px">
                </div>

                <ul class="stats-list" align="left">
                    <li>Wizard name: @user.Username</li>
                    <li>Total points: @user.Points points</li>
                    <li>Wizard rank: #@controller.GetUserRank(user.Username)</li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 info-panel vm-1 hm-1">

            @* Lesson week is hardcoded for now. *@
            @TimeTableHelper.GenerateTimeTable(startTime, endTime, increments, controller.GetTimeTableData(1));
        </div>
    </div>
</div>
