@using System.Configuration;
@using System.Data;
@using System.Data.SqlClient;
@using System.Globalization;


@{
    //goeie
    Page.Title = "Portal";
    Layout = "~/Shared/_DefaultPage.cshtml";

    //int house = 0;
    string username = "";
    int Points = 0;
    int House = 0;
    int ID = 0;

    //hier word de cookie aangevraagd voor de username.
    if (Request.Cookies["loginkoekje"] != null)
    {
        username = Request.Cookies["loginkoekje"]["username"];
    }
    else
    {
        Response.Redirect("~/Login.cshtml");
    }
    PortalController controller = new PortalController();

    // Connectie met de database wordt hier gemaakt.

    SqlConnection con = new SqlConnection(ConfigurationManager.ConnectionStrings["Database"].ConnectionString);
    con.Open();

    // Hier word de table geselecteerd, en gecheckt waar de gegevens weg worden gehaald. 

    SqlCommand cmd = new SqlCommand("select * from users where uUname='"+username+"'", con);
    SqlDataReader dr = cmd.ExecuteReader();

    // Hier word de database gelezen en op benamingen gezet.

    if (dr.Read())
    {
        ID = dr.GetInt32(0);
        username = dr[3].ToString();
        House = dr.GetInt32(4);
        Points = dr.GetInt32(5);
    }

    SqlDataAdapter da = new SqlDataAdapter(cmd);
    DataTable dt = new DataTable();
    // Cookiesss


    if (ID != 0)
    {

        HttpCookie UserKoekje = new HttpCookie("UserKoekje");
        Response.Cookies["UserKoekje"]["ID"] = ID.ToString();
        Response.Cookies["UserKoekje"]["username"] = username.ToString();
        Response.Cookies["UserKoekje"]["House"] = House.ToString();
        UserKoekje.Expires = DateTime.Now.AddDays(1d);
        Response.Cookies.Add(UserKoekje);
    }
    // Hier word de connection gestopt met de database.

    con.Close();

    // Hier wordt na gekeken of de gebruiker al een house heeft. 
    // Zo niet word de gebruiker redirect naar de Sorteerhoed.

    //if (House == 0)
    //{
    //    Response.Redirect("~/Sorteerhoed.cshtml");
    //}

    IDictionary<int, string> houseImages = new Dictionary<int, string>
    {
        { 0, "nope.png"},
        { 1, "gryffindor.png" },
        { 2, "hufflepuff.jpg" },
        { 3, "ravenclaw.png"},
        { 4, "slytherin.jpg"}
    };

    houseImages.TryGetValue(House, out string image);
    string houseImagePath = ImageHelper.PathToImageInContent(image);
    string avatarImagePath = ImageHelper.PathToImageInContent("avatar.png");

    DateTime startTime = DateTime.ParseExact("08:00", "HH:mm", CultureInfo.InvariantCulture);
    DateTime endTime = DateTime.ParseExact("17:00", "HH:mm", CultureInfo.InvariantCulture);
    TimeSpan increments = new TimeSpan(1, 0, 0);

}

<div class="col-md-12">
    <div class="row col-md-offset-1">
        <div class="col-md-2">

            <div class="row info-panel vm-1">
                <div align="center">
                    <h4 class="harry-font"> House information </h4>
                    <img src=@houseImagePath width="200px">
                </div>

                <ul class="stats-list" align="left">
                    <li>Total members: @House members</li>
                    <li>Total points: @House points</li>
                    <li>House rank: @House  </li>
                </ul>
            </div>

            <div class="row info-panel vm-1">
                <div align="center">
                    <h4 class="harry-font"> Wizard information </h4>
                    <img src=@avatarImagePath width="200px">
                </div>

                <ul class="stats-list" align="left">
                    <li>Wizard name: @username</li>
                    <li>Total points: @Points points</li>
                    <li>Wizard rank: #@controller.GetUserRank(username)</li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 info-panel vm-1 hm-1">

            @* Lesson week is hardcoded for now. *@
            @TimeTableHelper.GenerateTimeTable(startTime, endTime, increments, controller.GetTimeTableData(1));
        </div>
    </div>
</div>
