@{
    Page.Title = "Portal";
    Layout = "~/Shared/_DefaultPage.cshtml";

    IDictionary<int, string> houseImages = new Dictionary<int, string>
    {
        { 0, "nope.png"},
        { 1, "gryffindor.png" },
        { 2, "hufflepuff.png" },
        { 3, "ravenclaw.png"},
        { 4, "slytherin.png"}
    };

    int house = 1;

    houseImages.TryGetValue(house, out string image);
    string houseImagePath = ImageHelper.PathToImageInContent("Houses/" + image);
    string avatarImagePath = ImageHelper.PathToImageInContent("avatar.png");

    DateTime startTime = DateTime.ParseExact("08:00", "HH:mm", System.Globalization.CultureInfo.InvariantCulture);
    DateTime endTime = DateTime.ParseExact("17:00", "HH:mm", System.Globalization.CultureInfo.InvariantCulture);
    TimeSpan increments = new TimeSpan(0, 30, 0);

}

<div class="col-md-12">
    <div class="row col-md-offset-1">
        <div class="col-md-2">

            <div class="row info-panel vm-1">
                <div align="center">
                    <h2> House information </h2>
                    <img src=@houseImagePath width="200px">
                </div>

                <ul class="stats-list" align="left">
                    <li>Total members: 0</li>
                    <li>Total points: 0</li>
                    <li>House rank: #1</li>
                </ul>
            </div>

            <div class="row info-panel vm-1">
                <div align="center">
                    <h2> Wizard information </h2>
                    <img src=@avatarImagePath width="200px">
                </div>

                <ul class="stats-list" align="left">
                    <li>Wizard name: Harry Potter</li>
                    <li>Total points: 0</li>
                    <li>Total smekkies: 0</li>
                    <li>Wizard rank: #1</li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 info-panel vm-1 hm-1">
            @TimeTableHelper.GenerateTimeTable(startTime, endTime, increments);
        </div>
    </div>
</div>
