@{
    Page.Title = "Quidditch";
    Layout = "~/Shared/_QuidditchPage.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Stylesheets/quidditch.css" type="text/css" rel="stylesheet" />
    <style>
        

        div.gallery {
            margin: 4px;
            border: 2px solid;
            float: left;
            width: 270px;
            height: 240px;
            color: white;
            font-family: 'Segoe UI';
            font-size: 18px;

        }

            div.gallery:hover {
                border: 3px solid;
            }

            div.gallery img {
                width: 100%;
                height: 80%;
            }

        div.desc {
            padding: 10px;
            text-align: center;
            background-color: black;
        }

        {
            margin: 0;
            padding: 0;
        }

        
    </style>
</head>
<body class="background">
    

    
    <br /> <br />   <h1 class="harry-font">Quidditch Overview</h1>


    <div class="gallery">
        <a href="~/LesAstronomy.cshtml">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71Hyve225YL._SX355_.jpg" alt="QuidditchRules" width="300" height="200">

            <div class="desc">Part 1: The rules</div>
        </a>
    </div>

    <div class="gallery">
        <a href="~/LesCharms.cshtml">
            <img src="https://www.mat.ucsb.edu/~g.legrady/academic/courses/03w200a/projects/quidditch/media/stadium.png" alt="QuidditchField" width="300" height="200">

            <div class="desc">Part 2: Setting up</div>
        </a>
    </div>


    <div class="gallery">
        <a href="~/LesHerbology.cshtml">
            <img src="https://www.wikihow.com/images/thumb/f/ff/Play-Muggle-Quidditch-Step-18.jpg/aid260657-v4-728px-Play-Muggle-Quidditch-Step-18.jpg.webp" alt="QuidditchRoles" width="300" height="200">

            <div class="desc">Part 3: Roles</div>
        </a>
    </div>

    <div class="gallery">
        <a href="~/LesPotions.cshtml">
            <img src=https://geekandsundry.com/wp-content/uploads/2015/04/Quidditch1-970x545.jpg alt="QuidditchPlaying" width="300" height="200">

            <div class="desc">Part 4: Play</div>
        </a>
    </div>

