
/* By default make all the text white*/
h1, h2, h3, h4, h5, p, a
{
	color: white;
}

a:hover
{
	color: white;
}

/*Set the default background color*/
body 
{
	background-color: rgb(80, 80, 80);
}


/* Navigation bar formatting */
.navbar-colors 
{
	background-color: rgb(40, 40, 40);
}

.navbar-hamburger-button
{
	color: white;
	background-color: royalblue;
}

.navbar-hamburger-button:hover
{
	color: black;
	background-color: white;
}

ul.nav a:hover
{
	background-color: royalblue !important;
}

ul.nav a:focus {
	color: white !important;
	background-color: royalblue !important;
}

/* Footer formatting */
.footer-position
{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}

.footer-color
{
	color: white;
	background-color: rgb(40,40,40);
}

.footer-copyright-color
{
	background-color: royalblue;
}