
/* By default make all the text white*/
html 
{
	position: relative;
	min-height: 100%;
}

h1, h2, h3, h4, h5, p, a
{
	color: white;
}

a:hover
{
	color: white;
}

/*Set the default background color*/
body 
{

	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background-color: rgb(80, 80, 80);
	overflow: hidden;
	margin-bottom: 60px;
}


/* Navigation bar formatting */
.navbar-colors 
{
	background-color: rgb(40, 40, 40);
	margin: 0;
}

.navbar-hamburger-button
{
	color: white;
	background-color: royalblue;
}

.navbar-hamburger-button:hover
{
	color: black;
	background-color: white;
}

ul.nav a:hover
{
	background-color: royalblue !important;
}

ul.nav a:focus {
	color: white !important;
	background-color: royalblue !important;
}

/* Footer formatting */
.footer-position 
{
	width: 100%;
	flex: 0, 0, 50px;
}

.footer-color
{
	color: white;
	background-color: rgb(40,40,40);
}

.footer-copyright
{
	width:100%;
	background-color: royalblue;
}

/* Content of the default page */
.content 
{
	height: 100%;
}

.content-wrapper 
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}