.info-panel
{
    background-image: url("../Content/Images/layout/perkament.png");
    background-position: center;
    background-size: auto;

}

.stats-list
{
    margin-top: 20px;
    margin-left: -10px;
    list-style: none;
    color: white;
}